@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}
body{
    background-image: url("../Media/Education1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: inherit;
    width: 100%; height: 100%;
}

/*Header*/
header{
    text-align: center;
    background-color: green;
    border-bottom: 0.2rem solid darkgreen;
    font-size: 1rem;
    color: cornsilk;
    padding: 1.2rem;
    width: 100vw;
    height: auto;
}
header h1 {
    font-family: 'Libre Baskerville', serif;
}

/* Main */
#content{
    margin-top: 2.5rem;
    margin-left: 10%;
    display: inline-block;
    background-color: orangered;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 50%;
    font-size: 1.65rem;
}
.acc {
    margin: 1.3rem 17% 0;
    background-color: cyan;
    display: inline-block;
    width: 35%;
    padding: 0.5rem 8%;
    border-radius: 2rem;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.acc::before {
    content: "➕";
    display: inline-block;
    position: absolute;
    line-height: auto;
    top: 24%;
    right: 9%;
    font-size: 1.3rem;
}
.active::before {
    content: "➖";
}
.sem{
    margin: 0.6rem 23.5%;
    display: flex;
    flex-flow: column nowrap; 
    height: 0;
    overflow: hidden;
    transition: height 1.5s ease-in-out 0s;
    width: 30%;
}
.sem div{
    width: 67%;
    background-color: aquamarine;
    display: inline-block;
    text-align: center;
    font-size: 1.47rem;
    border-radius: 2rem;
    margin: 0.8rem 0.7rem;
    padding: 0.5rem 0.7rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.sem div:hover{
    background-color: slateblue;
    font-size: 200%;
    box-shadow:  0 0 10px 5px yellow;
}
.active + .sem {
    height: 10rem;
}

/* Footer */
footer{
    height: 5rem;
    background-color:rgba(0, 0, 0, 0.815);
    margin-top: auto;
    padding: 0.7rem;
    font-size: 1.3rem;
    height: fit-content;
    letter-spacing: 0.5px;
    color: cornsilk;
}
.credit{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: red;
}
.credit::selection {
    background-color: red;
    color: white;
}



@media only screen and (max-width:700px) {
    body {
        background-image: url(../Media/Education2.jpg);
    }
    header {
        font-size: 0.6rem;
    }
    #content {
        width: 90%;
        margin-left: 5%;
        font-size: 1.3rem;
    }
    .acc {
        width: 75%;
        margin-left: calc(25%/2);
        font-size: 1.4rem;
    }
    .acc::before {
        top: 27%;
        font-size: 1rem;
    }
    .sem {
        width: 55%;
    }
    .sem div {
        width: 90%;
    }
    footer {
        font-size: 0.9rem;
    }
    .credit {
        font-style: 0.9rem;
    }
}